/*                KEY POSITIONS
     0
  ╭────────────────╮ ╭────────────────╮
  │  1  2  3  4  5 │ │  6  7  8  9 10 │
  │ 11 12 13 14 15 | | 16 17 18 19 20 │
  │ 21 22 23 24 25 | | 26 27 28 29 30 │
  │ 31 32 33    34 | | 35    36 37 38 │
  ╰────────────────╯ ╰────────────────╯
 */
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <200>;

#define COMBO_TERM_COMMON 40


/* Horizontal combos - left hand */
ZMK_COMBO(esc,      &kp ESC,          2 3,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(enter,    &kp ENTER,        3 4,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(tab,      &kp TAB,        12 13,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(cut,      &kp LC(X),      22 24,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(copy,     &kp LC(INS),    22 23,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(paste,    &kp LS(INS),    23 24,          ALL, COMBO_TERM_COMMON)

/* Horizontal combos - right hand */
ZMK_COMBO(bspc,     &kp BSPC,         7 8,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(del,      &kp DEL,          8 9,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(com_lpc,  &lparchev,      17 18,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(com_rpc,  &rparchev,      18 19,          ALL, COMBO_TERM_COMMON)


/* Vertical combos - left hand */
ZMK_COMBO(at,       &kp AT,          2 12,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(hash,     &kp HASH,        3 13,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(dllr,     &kp DLLR,        4 14,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(prcnt,    &kp PRCNT,       5 15,          ALL, COMBO_TERM_COMMON)

ZMK_COMBO(grave,    &kp GRAVE,      12 22,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(bslh,     &kp BSLH,       13 23,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(equal,    &kp EQUAL,      14 24,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(tilde,    &kp TILDE,      15 25,          ALL, COMBO_TERM_COMMON)

/* Vertical combos - right hand */
ZMK_COMBO(caret,    &kp CARET,       6 16,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(plus,     &kp PLUS,        7 17,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(star,     &kp STAR,        8 18,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(amps,     &kp AMPS,        9 19,          ALL, COMBO_TERM_COMMON)

ZMK_COMBO(under,    &kp UNDER,      16 26,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(minus,    &kp MINUS,      17 27,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(fslh,     &kp FSLH,       18 28,          ALL, COMBO_TERM_COMMON)
ZMK_COMBO(pipe,     &kp PIPE,       19 29,          ALL, COMBO_TERM_COMMON)
